
<div class="grid">
<div class="flex-grow-1 flex align-items-center justify-content-center  font-bold m-2 px-5 py-3 border-round ">
<div class="surface-card p-8 shadow-2 border-round ">


    <div>
    <div *ngIf="loginCard">
     <div class="text-center mb-10">
        <img src="assets/logo/hyper.svg" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">MOD</div>
        <span class="text-600 font-medium line-height-3">Não tem conta?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" (click)="loginCard = !loginCard">Entre em contato</a>
    </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
          <label  class="block text-900 font-medium mb-2" >Email</label>
          <input  type="email" placeholder="Email address" pInputText class="w-full mb-3" formControlName="username">

          <label  class="block text-900 font-medium mb-2" >Password</label>
          <input  type="password" placeholder="Password" pInputText class="w-full mb-3" formControlName="password">

          <div class="flex align-items-center justify-content-between mb-6">

              <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
          </div>

          <button pButton pRipple label="Login" icon="pi pi-user" class="w-full" [disabled]="!this.loginForm.valid"></button>
      </form>
      </div>
      <div *ngIf="!loginCard">
       <div class="text-center mb-10">
        <img src="assets/logo/hyper.svg" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">MOD</div>
        <span class="text-600 font-medium line-height-3">Já tem Conta</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" (click)="loginCard = !loginCard">Faça Login</a>
    </div>
      <form [formGroup]="contatoForm" (ngSubmit)="onSubmitContatoForm()">
      <label  class="block text-900 font-medium mb-2" >Nome</label>
          <input  type="text" placeholder="Nome" pInputText class="w-full mb-3" formControlName="nome">
          <label  class="block text-900 font-medium mb-2" >Email</label>
          <input  type="email" placeholder="Email address" pInputText class="w-full mb-3" formControlName="email">

          <label  class="block text-900 font-medium mb-2" >Whatsapp</label>
          <input  type="text" placeholder="Whatsapp" pInputText class="w-full mb-3" formControlName="whatsapp">
          <label  class="block text-900 font-medium mb-2" >Mensagem</label>
          <input  type="Text" placeholder="Whatsapp" pInputText class="w-full mb-3" formControlName="mensagem">

          <button pButton pRipple label="Enviar" icon="pi pi-user" class="w-full" [disabled]="!this.contatoForm.valid"></button>
      </form>
      </div>
    </div>
</div>
</div>

</div>
